pkgbase = home-assistant
	pkgdesc = Open source home automation that puts local control and privacy first
	pkgver = 2022.4.4
	pkgrel = 1
	url = https://home-assistant.io/
	arch = any
	license = APACHE
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = gcc
	depends = python-aiohttp
	depends = python-aiohttp-cors
	depends = python-astral
	depends = python-async-timeout
	depends = python-atomicwrites
	depends = python-attrs
	depends = python-awesomeversion
	depends = python-bcrypt
	depends = python-certifi
	depends = python-ciso8601
	depends = python-cryptography
	depends = python-defusedxml
	depends = python-httpx
	depends = python-jinja
	depends = python-mutagen
	depends = python-pillow
	depends = python-pip
	depends = python-pyjwt
	depends = python-pytz
	depends = python-requests
	depends = python-ruamel-yaml
	depends = python-slugify
	depends = python-sqlalchemy
	depends = python-voluptuous
	depends = python-voluptuous-serialize
	depends = python-yaml
	depends = python-yarl
	depends = python-zeroconf
	optdepends = python-home-assistant-frontend: The official Home Assistant frontend
	optdepends = python-gtts: Google Text-to-Speech
	optdepends = net-tools: Nmap host discovery
	source = git+https://github.com/home-assistant/home-assistant.git#tag=30db51a49c8acb0180d23fa4b28047788c71fe38
	source = home-assistant.service
	b2sums = SKIP
	b2sums = 4b099405b1ea0e5585e612e2bd9a0841ae0b4da7a66c28b44b934dc69af58baeea7f930792c37bf3167e889ee3d14470661b7fff016a80305b33d09fc31cf07d

pkgname = home-assistant
