pkgbase = home-assistant
	pkgdesc = Open source home automation that puts local control and privacy first
	pkgver = 2022.2.9
	pkgrel = 1
	url = https://home-assistant.io/
	arch = any
	license = APACHE
	makedepends = git
	makedepends = python-setuptools
	depends = gcc
	depends = python-aiohttp
	depends = python-aiohttp-cors
	depends = python-astral
	depends = python-async-timeout
	depends = python-atomicwrites
	depends = python-attrs
	depends = python-awesomeversion
	depends = python-bcrypt
	depends = python-certifi
	depends = python-ciso8601
	depends = python-cryptography
	depends = python-defusedxml
	depends = python-httpx
	depends = python-jinja
	depends = python-mutagen
	depends = python-pillow
	depends = python-pip
	depends = python-pyjwt
	depends = python-pytz
	depends = python-requests
	depends = python-ruamel-yaml
	depends = python-slugify
	depends = python-sqlalchemy
	depends = python-voluptuous
	depends = python-voluptuous-serialize
	depends = python-yaml
	depends = python-yarl
	depends = python-zeroconf
	optdepends = net-tools: Nmap host discovery
	optdepends = openzwave: Z-Wave integration
	optdepends = python-dtlssocket: Ikea Tradfri integration
	optdepends = python-lxml: Meteo France integration
	source = git+https://github.com/home-assistant/home-assistant.git#tag=c95a72d2adc658a9b11ccbffbac1a4cea1b8b71d
	source = home-assistant.service
	b2sums = SKIP
	b2sums = eef653f45d01dfeb191d421905aa08f8fd297c9a66262d83ce5b8c70b932fc69d3b5e16471861b2cd4021ff3519d5037d8912afc25565430be07ca82300ce5c9

pkgname = home-assistant
